body {
  font-family: "Source Sans Pro";
}

.App {
  background-color: #55649b;
  color: rgb(235, 235, 235);
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}

h4 {
  font-weight: 200;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
